.header {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  background-image: url("../../assets/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 576px;
}
.header_no-background {
  background-image: none;
  background-color: #fff;
}
